@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, Calibre , BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.toggle__dot {
  top: -0.125rem;
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  @apply bg-secondary;
  transform: translateX(100%);
  left: 0rem;
}

.overflow-hidden {
  overflow: hidden;
}

.line-before::before {
  content: "";
  display: inline-block;
  height: 5em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 0px;
  margin-bottom: 20px;
  border-left: 1px solid gray;
  font-family: "Courier New", Courier, monospace;
}

.line-after:after {
  content: "";
  display: inline-block;
  height: 5em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 0px;
  margin-top: 20px;
  border-left: 1px solid gray;
  font-family: "Courier New", Courier, monospace;
}

.underline {
  text-decoration: none;
  position: relative;
}

.underline:after {
  @apply bg-secondary;
  position: absolute;
  content: "";
  height: 2px;
  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
  bottom: -4px;

  /****** 
       optional values below 
       ******/

  /* center - (optional) use with adjusting width   */
  left: 0;
  right: 0;
  width: 100%;


  /* optional animation */
  animation: underline_fill 0.3s;
}

@keyframes underline_fill {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* hamburger menu classes  */

.menu {
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  @apply stroke-secondary;
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  @apply stroke-secondary;
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  @apply stroke-secondary;
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
